*{
 margin: 0;
 padding: 0;
}

body{
  background-color:#EFEFEF ;
  font-family: 'HelveticaNeue', sans-serif ;
}

.interactive-icon {
  transition: all 0.1s ease-in-out 0s;
}

.interactive-icon:hover {
  transform: scale(1.1);
}

.interactive-icon:active {
  transform: scale(1.1);

  transform: rotate(10deg);
}
.rocket-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.rocket-image:hover {
  transform: scale(1.1);
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 774px;
  height: 480px;
  margin: 0 auto; /* Center the container horizontally */
}

.img-carousel {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(53, 53, 53, 1);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.arrow-button-prev {
  left: -50px;
}

.arrow-button-next {
  right: -50px;
}
